@import './_theme.scss';
// NavTop  NavList
.am-navbar,.am-tabs-default-bar-content{
    color:#ddd;
    background-color:$mainColor;
}

.am-tabs-default-bar-tab-active{
    color:#fff;
}

// NavTop中的Drawer
.my-drawer .am-drawer-sidebar .am-list {
    width:200px;
    padding:0;
    .nav-icon-group{
        padding:10% 5%;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
}

//NavTop
.am-navbar-title{
    flex:2;
    .navTop{
        display:flex;
        flex:1;
        justify-content: space-around;
        a{color:#ddd;}
    }
}


// Carousel
.carousel{
    background-color:$mainColor;
    position:relative;
    height:200px;
    .bg{
        height:80%;
        position: relative;
        top:20%;
        margin:0 10px;
        img{
            width:100%;
        }
    }
    .bb{
        height:20%;
        background-color:#fff;
    }
}

// home
.icondiv{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#f00;
    i{
        color:#fff;
    }
}

//Table
.table{
    padding:0 10px;
    h4{text-align:left;}
    .tableBox{
        display:flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        .tableItem{
            width:33%;
            display: flex;
            flex-direction: column;
            // flex:1/3;
            img{width:100%;}
        }
    }
}

// music
.music{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .am-list-item{
        img{
            width:50px;
            height:50px;
        }
    }
    .am-list-content{
        display: flex;
        flex:1;
        justify-content: space-between;
        .button{
            display:flex;
            flex-direction: column;
            justify-content:center;
            i{
                margin-right:10%;
            }
        }
    }
}

// friend
.friend{
    .am-list-thumb{
        position:relative;
        top:-90px;
        .icon-group{
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            i{
                margin-right:14%;
            }
        }
    }
}


// search
.search{
    .am-input-label.am-input-label-5{
        width:50px;
    }
}

