@import './_theme.scss';
// NavTop  NavList
.am-navbar,.am-tabs-default-bar-content{
    color:#ddd;
    background-color:$mainColor;
}

.am-tabs-default-bar-tab-active{
    color:#fff;
}
// NavList
.am-tabs-default-bar{
    z-index:0;
}
// .nav-list{
    .am-tabs{
        .am-tabs-tab-bar-wrap{
            position: fixed;
            right: 0;
            top: 0.45rem;
            left: 0;
        }
        .am-tabs-content-wrap{
            margin-top:0.45rem;
            z-index: -1;
        }
    }
// }



// NavTop中的Drawer
.my-drawer .am-drawer-sidebar .am-list {
    width:200px;
    padding:0;
    .nav-icon-group{
        padding:10% 5%;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
}

//NavTop
.am-navbar-title{
    flex:2;
    .navTop{
        display:flex;
        flex:1;
        justify-content: space-around;
        a{color:#ddd;}
    }
}


// Carousel
.carousel{
    background-color:$mainColor;
    position:relative;
    height:200px;
    .bg{
        height:80%;
        position: relative;
        top:20%;
        margin:0 10px;
        img{
            width:100%;
        }
    }
    .bb{
        height:20%;
        background-color:#fff;
    }
}

// Scrice
.scrice{
    .am-tabs .am-tabs-tab-bar-wrap{
        top:0;
        position:relative;
        right:0;
        left:0;
    }
    .am-tabs-content-wrap{
        margin-top:0;
    }
}

.icondiv{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#f00;
    i{
        color:#fff;
    }
}

//Table
.table{
    padding:0 10px;
    h4{text-align:left;}
    .tableBox{
        display:flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        .tableItem{
            width:33%;
            display: flex;
            flex-direction: column;
            // flex:1/3;
            img{width:100%;}
        }
    }
}

// music
.music{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .am-list-item{
        img{
            width:50px;
            height:50px;
        }
    }
    .am-list-content{
        display: flex;
        flex:1;
        justify-content: space-between;
        .button{
            display:flex;
            flex-direction: column;
            justify-content:center;
            i{
                margin-right:10%;
            }
        }
    }
}

// friend
.friend{
    .am-list-thumb{
        position:relative;
        top:-90px;
    }
    .icon-group{
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        i{
            margin-right:14%;
        }
    }
}


// search
.search{
    .am-input-label.am-input-label-5{
        width:50px;
    }
    .am-list-item.am-input-item{
        background-color:$mainColor;
    }
}

//home 总的一个布局
.app-top{
    display:flex;
    flex-direction:column;
    flex:1;
    height:100%;
    width:100%;
    #header{
        display:flex;
        height:0.45rem;
        position:relative;
        z-index:1;
        .am-navbar{
            width:100%;
            position:fixed;
            left:0;right:0;
            top:0;
        }
    }
    #footer{
        display:flex;
        height:1rem;
    }
    #content{
        display:flex;
        flex:1;
        overflow-x: hidden;
        overflow-y:auto;
        flex-direction: column;
        .test{
            background-color:black;
        }
    }
}
#footer{
    display:flex;
    height:1rem;
}
